<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
      <form action="salvarpessoa" method="post" th:object="${pessoaobj}" id="formExemplo" data-toggle="validator" role="form"  >
 <div class="form-group">
    <label for="textId" class="control-label">ID</label>
    <input id="textId" class="form-control" type="text" name="id" th:field="*{id}" readonly>
  </div>
  <div class="form-group">
    <label for="textNome" class="control-label">Nome</label>
    <input id="textNome" class="form-control" placeholder="Nome" type="text" name="nome" th:field="*{nome}" >
  </div>
  
  <div class="form-group">
    <label for="inputSobrenome" class="control-label">Sobrenome</label>
    <input id="inputSobrenome" class="form-control" placeholder="Sobrenome" type="text" name="sobrenome" th:field="*{sobrenome}">
  </div>
  
  <div class="form-group">
    <label for="inputIdade" class="control-label">Idade</label>
    <input type="text" class="form-control" placeholder="Idade" name="idade" th:field="*{idade}">
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
      <br>
      
      <a href="/listapessoas">Lista de Pessoas</a>
      <br>
      <br>
      <form action="pesquisarpessoa" method="post">
      <label>Pesquisar por nome:</label>
      <input type="text" name="nomepesquisa">
      <input type="submit" value= "Pesquisar">
      
      </form>
      <br>
      <br>
      
    <table class="table">
      <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Idade</th>
       <th>Editar</th>
        <th>Excluir</th>
    </tr>
  </thead>
   <tbody>

        <tr th:each = "pessoa : ${pessoas}">
        <td th:text = ${pessoa.id}></td>
        <td th:text = "${pessoa.nome}"></td>
        <td th:text = "${pessoa.sobrenome}"></td>
        <td th:text = "${pessoa.idade}"></td>
        <td><a th:href = "@{/editarpessoa/{idpessoa}(idpessoa = ${pessoa.id})}">Editar</a></td>
        <td><a th:href = "@{/removerpessoa/{idpessoa}(idpessoa = ${pessoa.id})}">Excluir</a></td>
        </tr>
    </tbody>
    
    </table>
      
      

</body>
</html>